img {
    width:30%;
    float: left;
    margin: 1.66%
}

h1 {
    font-family: 'Source Sans Pro', sans-serif;
    margin-left: 1.66%;
    font-size: 26px;
    text-transform: uppercase;
    border-bottom: 2px #f1f1f1 solid;
    width: 30%;

}